.title-search {
    display: flex;
    padding: 1em;
    margin-top: 2em;
    width: 100%;

    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    
    color: #007eff;
    background-color: white;
    border-radius: 10px;
    
    &__posts, &__people, &__groups {
        margin-top: 0;
    }
}


@media screen and (min-width: 576px) {
    .title-search {
        max-width: 700px;
    }
}