.group-badge {
    
    &:active {
    }
    
    &__text {
        padding: 1em;
        border-radius: 1em ;
        background-color: "#95cbff";
        font-weight: "bold";

        &:active {
            background-color: blue;
            color: white;
        }
    }
}